.update {
    width: 30px !important;
    height: 30px !important;
    float: right;
}

.panel .update {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.comment {
    border-bottom: black 1px solid !important;
}
.caption{
    padding-bottom: 10px;
}
.commentHeader {
    display: flex;
    justify-content: space-between;
}
.text{
    white-space:normal;
}