.update{
    width: 30px!important;
    height: 30px!important;
}
.panel .update{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.comment{
    border-bottom: black 1px solid!important;
}
.comment.update{

}
.commentBlock{

}